Source: testpackage
Section: unknown
Priority: optional
Maintainer: Godie <godie@debian>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/testpackage.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/testpackage.git

Package: testpackage
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
